body {
    background:#555a6a;
}

.fillD {
    background:#000;
    color:#fff;
}

#slides {
    height:450px;
    width:100%;
    background:#fff;
}

.fix3 {
    position:fixed;
    right:0;
    bottom:0;
    width:40%;
    top:0;
}

.fix2 {
    position:absolute;
    top:0;
    left:0;
    width:60%;
}

.contain {
    width:1000px;
    margin:0 auto;
}

.buttons {
    padding:10px;
}

.buttons a {
    color:#fff;
    padding:10px;
}

.buttons button {
    font:inherit;
    padding:5px;
    margin:0;
    background:#8cc625;
    color:#fff;
    border:none;
    border-radius:2px;
    vertical-align:middle;
}

.buttons select {
    vertical-align:middle;
    width:200px;
    display:inline;
    height:35px;
    margin:0;
}

.hide {
    display:none;
}

#published {
    font-size:small;
    background:yellow;
    color:#000;
    padding:5px;
}

#published a {
    padding:5px;
}
