body {
    font-family:sans-serif;
    background:#f6f6f6;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

iframe {
    border:none;
}

#slides {
    height:450px;
    width:100%;
    background:#fff;
}

.fix3 {
    position:absolute;
    right:0;
    bottom:0;
    width:40%;
    top:0;
    padding:10px;
}

#biggie .CodeMirror-wrap {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:60%;
    border-right:1px solid #aaa;
}

#follow-button {
    position:absolute;
    right:5px;
    bottom:5px;
}

.contain {
    max-width:1000px;
    margin:0 auto;
}

.buttons {
    font-size:12px;
    padding:10px 0;
    vertical-align:middle;
}

.buttons a {
    padding:10px;
}

.buttons button {
    font:inherit;
    padding:3px 5px;
    margin:0;
    background:#8cc625;
    color:#fff;
    border:none;
    border-radius:2px;
    vertical-align:middle;
}

.buttons select {
    vertical-align:middle;
    width:200px;
    display:inline;
    height:35px;
    margin:0;
}

.hide {
    display:none;
}

#published {
    font-size:small;
    background:yellow;
    color:#000;
    padding:5px;
}

#published a {
    padding:5px;
}
